openapi: 3.1.0
info:
  title: Core API
  description: |-
    This is the Core API
  version: 0.0.1
servers:
  - url: https://diagnoseai-core-apis.azure-api.net
paths:
  /chat_connection:
    post:
      summary: Creates a pre-authenticated chat connection for the given user ID
      description: Creates a pre-authenticated chat connection (WebSockets) for the given user ID
      requestBody:
        description: Request for a pre-authenticated chat connection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatConnectionRequest'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatConnectionResponse'
        '500':
          description: 'Failure. Likely a JSON parsing issue'
      security:
        - api_key: []
  /chat_history:
    get:
      summary: Gets the chat history for a given conversation ID
      description: Gets the chat history for a given conversation ID (todo, this should eventually be authenticated as well)
      parameters:
        - name: conversation_id
          in: query
          description: ID of the conversation
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatHistoryResponse'
      security:
        - api_key: []

components:
  schemas:
    Message:
      type: object
      properties:
        conversationId:
          type: string
          description: Conversation ID
        message:
          type: string
          description: The text within the message
        sender:
          enum: ["bot", "user"]
          description: The sender of this message
        sentAt:
          type: number
          format: date-time
          description: UNIX Timestamp for dat and time when the message was sent.
    ChatConnectionRequest:
      type: object
      properties:
        userId:
          type: string
          description: The UserID this connection belongs to
    ChatConnectionResponse:
      type: object
      properties:
        wsUrl:
          type: string
          description: The WebSocket URL for this connection (temporary)
        ttl:
          type: integer
          description: The time to live for the WebSocket URL in minutes. Ideally, when WebSocket requesting moves to another endpoint, the client will re-request a new websocket URL
    ChatHistoryResponse:
      type: array
      items:
          $ref: '#/components/schemas/Message'


  securitySchemes:
    api_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    auth_token:
      type: apiKey
      name: Auth-Token
      in: header
